[submodule "/Users/tbulding/dev/tb/MySnippets/temp/quickstart-cribl-stream-privatelink-ami/docs/boilerplate"]
	path = /Users/tbulding/dev/tb/MySnippets/temp/quickstart-cribl-stream-privatelink-ami/docs/boilerplate
	url = https://github.com/aws-ia/aws-ia-documentation-base-common.git
